extends layout

block content
	div(id='banner')
	
	ul
		li 
			a(href='/') Home
		if user
			li 
				a(href='/overzicht') Producten
		li 
			a(href='/OverOns') Over ons
		li 
			a(href='/contact') Contact
		if !user
			li 
				a(href='/login') Inloggen
			li 
				<div id="nav"></div>

		else
			li 
				a(href='/signout') Uitloggen
			li
				p #{user.username} 

	p(class='lead') Contact

	script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
	script(src="../javascripts/script.js")
	script(src="/socket.io/socket.io.js")