extends layout

block content
	div(id='banner')
	
	ul
		li 
			a(href='/') Home
		if user
			li 
				a(href='/overzicht') Producten
			li
				a(href='/bestellingen') Mijn bestellingen

			if user.admin
				li
					a(href='/bestellingen') Bestellingen


		li 
			a(href='/OverOns') Over ons
		li 
			a(href='/contact') Contact

		if !user
			li 
				a(href='/login') Inloggen

		else
			li 
				a(href='/signout') Uitloggen


			
	div(id="inhoud")			

	if user
		p(div id="welkom") Welkom #{user.firstname}, geniet van ons ruim assortiment.
		
		

	a(href='/OverOns')
		.kolom
			h1 WELKOM
			img(src= '/images/logo.png' width='200px')
			p District01 is uw technologische partner in alles Drupal, Umbraco en Nieuwe Media. Wij zijn een Kontich (Antwerpen) gebaseerde digitale bedrijf, dat werk van hoge kwaliteit produceert.
	a(href='/login')		
		.kolom
			h1 INLOGGEN
			img(src= '/images/producten.png' width='200px')
			p Geniet van onze makkelijke aankoopdienst.
	a(href='/contact')
		.kolom
			h1 CONTACT
			img(src= '/images/contact.png' width='200px')
			p district01 is een webdesign bedrijf.



	script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
	script(src="/javascripts/script.js")
	script(src="/socket.io/socket.io.js")