extends layout

block content
	div(id='banner')
	
	ul
		li 
			a(href='/') Home
		if user
			li 
				a(href='/overzicht') Producten

				if !user.admin
					li
						a(href='/MijnBestellingen') Mijn bestellingen

				if user.admin
					li
						a(href='/bestellingen') Bestellingen


		li 
			a(href='/OverOns') Over ons
		li 
			a(href='/contact') Contact

		if !user
			li 
				a(href='/login') Inloggen
			li
				a(href='signup') Registreren
			li
				<div id="opnav"></div>

		else
			li 
				a(href='/signout') Uitloggen

		if user
			li
				<div id="opnav"> Ingelogd als #{user.firstname}</div>

		


			
	div(id="inhoud")			

		a(href='/OverOns')
			.kolom
				h1 WELKOM
				img(src= '/images/logo.png' width='200px')
				p District01 is uw technologische partner in alles Drupal, Umbraco en Nieuwe Media. Wij zijn een Kontich (Antwerpen) gebaseerde digitale bedrijf, dat werk van hoge kwaliteit produceert.
		a(href='/signup')		
			.kolom
				h1 REGISTREREN
				img(src= '/images/producten.png' width='200px')
				p Registreer u nu en geniet van ons ruime assortiment.
		a(href='/contact')
			.kolom
				h1 CONTACT
				img(src= '/images/contact.png' width='200px')
				p Neem gerust contact met ons op voor al uw vragen of opmerkingen.



	script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
	script(src="/javascripts/script.js")
	script(src="/socket.io/socket.io.js")