extends layout

block content
	div(id='banner')
	
	ul
		li 
			a(href='/') Home
		if user
			li 
				a(href='/overzicht') Producten
		li 
			a(href='/OverOns') Over ons
		li 
			a(href='/contact') Contact
		if !user
			li 
				a(href='/login') Inloggen
			li 
				<div id="nav"></div>

		else
			li 
				a(href='/signout') Uitloggen
			li
				p #{user.username} 


	div(class='inhoud')
		div(class='ons')
			img(src="/images/about.png", width='100%')

		div(class='ons')
			h1 District01
			br
			p(class='lead') Opgericht in 2010, District01 is uw technologische partner in alles Drupal, Umbraco en Nieuwe Media. Wij zijn een Kontich (Antwerpen) gebaseerde digitale bedrijf, dat werk van hoge kwaliteit produceert.
			br
			p(class='lead') Door het handhaven van een gezonde werksfeer die gericht is op team-spirit, duurzaamheid, proactiviteit en ondernemerschap, hopen we de drive voor creativiteit en innovatie van onze medewerkers en partners te ondersteunen.

	script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
	script(src="../javascripts/script.js")
	script(src="/socket.io/socket.io.js")