extends layout

block content 
	#banner

	ul
			li 
				a(href='/')#create-account Home
			li 
				a(href='/producten')#create-account Producten
			li 
				a(href='/login')#create-account Inloggen
			li 
				a(href='/OverOns')#create-account Over ons
			li 
				a(href='/contact')#create-account Contact
	
	#inhoud
		
			.ons
				img(src= '/images/about.png' width='100%')

				
			.ons

				h1 DISTRICT01!
				br
				p.lead Opgericht in 2010, District01 is uw technologische partner in alles Drupal, Umbraco en Nieuwe Media. Wij zijn een Kontich (Antwerpen) gebaseerde digitale bedrijf, dat werk van hoge kwaliteit produceert.
				br
				p.lead Door het handhaven van een gezonde werksfeer die gericht is op team-spirit, duurzaamheid, proactiviteit en ondernemerschap, hopen we de drive voor creativiteit en innovatie van onze medewerkers en partners te ondersteunen.





				

