extends layout

block content 
	div(id='banner')

	ul
		li 
			a(href='/') Home
		if user
			li 
				a(href='/overzicht') Producten

				if !user.admin
					li
						a(href='/MijnBestellingen') Mijn bestellingen

				if user.admin
					li
						a(href='/bestellingen') Bestellingen


		li 
			a(href='/OverOns') Over ons
		li 
			a(href='/contact') Contact

		if !user
			li 
				a(href='/login') Inloggen
			li
				a(href='signup') Registreren
			li
				<div id="opnav"></div>

		else
			li 
				a(href='/signout') Uitloggen

		if user
			li
				<div id="opnav"> Ingelogd als #{user.firstname}</div>

		

	p(class='lead') Overzicht producten
	
	if user.admin == true
		a(href="/addProduct") Voeg een product toe

	ul(id='product')

	script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
	script(src="/javascripts/script.js")
	script(src="/socket.io/socket.io.js")
	script.
		var socket = io.connect('http://localhost:3000');

		$(document).ready(function(){
			socket.emit('findProducts');
		});