extends layout

block content 
  #banner

  ul
      li 
        a(href='/')#create-account Home
      li 
        a(href='/producten')#create-account Producten
      li 
        a(href='/login')#create-account Inloggen
      li 
        a(href='/OverOns')#create-account Over ons
      li 
        a(href='/contact')#create-account Contact

  p.lead Producten